/* main.css */
body {
    margin: 0;
    padding: 0;
    color: #555;
    font: normal 10pt Verdana, Arial, Helvetica, sans-serif;
    background: #EFEFEF;
}

.flash {
    padding: 20px;
}

#page {
    margin-top: 5px;
    margin-bottom: 5px;
    background: white;
    border: 1px solid #C9E0ED;
}

#header {
    margin: 0;
    padding: 0;
    border-top: 3px solid #C9E0ED;
}

#header-right {
    position: absolute;
    right: 20px;
    top: 5px;
    text-align: right;
}

#content {
    padding: 20px;
}

#sidebar {
    padding: 20px 20px 20px 0;
}

#footer {
    padding: 10px;
    margin: 10px 20px;
    font-size: 0.8em;
    text-align: center;
    border-top: 1px solid #C9E0ED;
}

#logo {
    font-size: 150%;
    padding: 20px 20px;
    position: relative;
}

#logo a
{
    float: left;
    display: block;
}

#logo div
{
    display: block;
    vertical-align: 10px;
    margin-left: 20px;
    font-size: 27px;
    height: 100px;
    text-align: right;
    line-height: 30px;
}
#mainmenu {
    background: white url(bg.gif) repeat-x left top;
}

#mainmenu ul {
    padding: 6px 20px 5px 20px;
    margin: 0px;
}

#mainmenu ul li {
    display: inline;
}

#mainmenu ul li a {
    color: #ffffff;
    background-color: transparent;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a {
    color: #6399cd;
    background-color: #EFF4FA;
    text-decoration: none;
}

div.flash-error, div.flash-notice, div.flash-success {
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #ddd;
}

div.flash-error {
    background: #FBE3E4;
    color: #8a1f11;
    border-color: #FBC2C4;
}

div.flash-notice {
    background: #FFF6BF;
    color: #514721;
    border-color: #FFD324;
}

div.flash-success {
    background: #E6EFC2;
    color: #264409;
    border-color: #C6D880;
}

div.flash-error a {
    color: #8a1f11;
}

div.flash-notice a {
    color: #514721;
}

div.flash-success a {
    color: #264409;
}

div.form .rememberMe label {
    display: inline;
}

div.view {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}

div.breadcrumbs {
    font-size: 0.9em;
    padding: 5px 20px;
}

div.breadcrumbs span {
    font-weight: bold;
}

div.search-form {
    padding: 10px;
    margin: 10px 0;
    background: #eee;
}

.portlet {

}

.sub-menu {
    padding: 3px 8px;
    background: #B7D6E7;
}

.portlet-decoration {
    padding: 3px 8px;
    background: #B7D6E7;
    border-left: 5px solid #6FACCF;
}

.portlet-title {
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #298dcd;
}

.portlet-content {
    font-size: 0.9em;
    margin: 0 0 15px 0;
    padding: 5px 8px;
    background: #EFFDFF;
}

.portlet-content ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.portlet-content li {
    padding: 2px 0 4px 0px;
}

.operations {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.operations li {
    padding-bottom: 2px;
}

.operations li a {
    font: bold 12px Arial;
    color: #0066A4;
    display: block;
    padding: 2px 0 2px 8px;
    line-height: 15px;
    text-decoration: none;
}

.operations li a:visited {
    color: #0066A4;
}

.operations li a:hover {
    background: #80CFFF;
}

.post {
    margin: 0 0 20px;
}

.post .title {
    font-size: 1.5em;
    border-bottom: 1px solid #C9E0ED;
}

.post .title a {
    color: #555;
    text-decoration: none;
}

.post .author {
    color: #888;
    margin: 0 0 5px;
}

.post .nav {
    -moz-border-radius: 7px;
    padding: 5px;
    background: #EFFDFF;
}

.comment {
    -moz-border-radius: 7px;
    padding: 10px;
    background: #F5F5F5;
    margin: 5px 0;
}

.comment .comment-body {
    margin-left: 36px;
}

.comment .avatar {
    float: left;
}

.comment .content {
    margin: 10px 0;
}

.comment .author {
    margin: 5px 0;
    padding: 0 0 3px;
    border-bottom: 1px solid #DDD;
}

.comment .time {
    color: #888;
    font-size: 0.8em;
}

.comment a.cid {
    color: #CCC;
    float: right;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0 5px 5px 5px;
    text-decoration: none;
}

.comment a.cid:hover {
    color: #555;
}

.comment .pending {
    color: red;
}

.yupeDownload a b {
    font-size: 11px;
    line-height: 17px;
}

.yupeDownload a:hover {
    background-color: #f85600;
    background-repeat: repeat-x;
}
.yupeDownload a {
    background: none repeat-x scroll 0 0 #F89200;

    border: 1px solid rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-style: solid;
    border-width: 1px;
    border-image: none;

    margin: 10px 0;
    padding: 4px 14px;
    cursor: pointer;

    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);

    display: -moz-inline-stack;
    display: inline-block;
    _overflow: hidden;
    *zoom: 1;
    *display: inline;

    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    color: #FFF;
    font-size: 14px;
    line-height: normal;
}

.siteDescription
{
    vertical-align: -20px;
}


div.form_reg_edit {
    width: 100%;
    margin: 20px auto 0 auto;

}

div.form_reg_edit input,
div.form_reg_edit textarea,
div.form_reg_edit select {
    margin: 0.2em 0 0.5em 0;
}

div.form_reg_edit fieldset {
    border: 1px solid #DDD;
    padding: 10px;
    margin: 0 0 10px 0;
    -moz-border-radius: 7px;
}

div.form_reg_edit label {
    font-weight: bold;
    font-size: 0.9em;
    
}

div.form_reg_edit .row {
    margin: 5px 0;
}

div.form_reg_edit .hint {
    margin: 0;
    padding: 0;
    color: #999;
}

div.form_reg_edit .note {
    font-style: italic;
}

div.form_reg_edit span.required {
    color: red;
}

div.form_reg_edit div.error label,
div.form_reg_edit label.error,
div.form_reg_edit span.error {
    color: #C00;
}

div.form_reg_edit div.error input,
div.form_reg_edit div.error textarea,
div.form_reg_edit div.error select,
div.form_reg_edit input.error,
div.form_reg_edit textarea.error,
div.form_reg_edit select.error {
    background: #FEE;
    border-color: #C00;
}

div.form_reg_edit div.success input,
div.form_reg_edit div.success textarea,
div.form_reg_edit div.success select,
div.form_reg_edit input.success,
div.form_reg_edit textarea.success,
div.form_reg_edit select.success {
    background: #E6EFC2;
    border-color: #C6D880;
}

div.form_reg_edit .errorSummary {
    border: 2px solid #C00;
    padding: 7px 7px 12px 7px;
    margin: 0 0 20px 0;
    background: #FEE;
    font-size: 0.9em;
}

div.form_reg_edit .errorMessage {
    color: red;
    font-size: 0.9em;
}

div.form .errorSummary p {
    margin: 0;
    padding: 5px;
}

div.form_reg_edit .errorSummary ul {
    margin: 0;
    padding: 0 0 0 20px;
}


div.form_reg_edit div.re-left, div.form_reg_edit div.re-right
{
	float:left; 
	clear:right;
}


div.form_reg_edit div.list
{
	display: table;
	border-width: 0 0 1px 0;
	border-style: dotted;
	border-color: #d4d4d4;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

div.form_reg_edit div.list div.name
{
	width: 140px;
	float: left;
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
	text-align: right;
	font-weight: bolder;
	margin-right: 10px;
	margin-top: 4px;
}

div.form_reg_edit div.last
{
	margin-left: 150px;
}

div.form_reg_edit input[type="submit"], div.form_reg_edit input[type="button"]
{
	height: 27px;
	padding: 0 10px;
	font-family: Arial Narrow;
	font-size: 13px;
	color: #636262;
	text-transform: uppercase;
	border: 0px;
	cursor: pointer;
	background: url(../web/images/btn_save.jpg);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.form_reg_edit div.accession input[type="button"]
{
	height: 27px;
	padding: 0 10px;
	font-family: Arial Narrow;
	font-size: 13px;
	color: #636262;
	text-transform: uppercase;
	border: 0px;
	cursor: pointer;
	background: url(../web/images/btn_save.jpg);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.form_reg_edit div.list div.form
{
	float: left;
	width: 175px;
	margin-right: 10px;
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
}

div.form_reg_edit div.list div.form.provider
{
	width: 200px;
}

div.form_reg_edit div.list div.form input[type="password"], div.form_reg_edit div.list div.form select,
div.form_reg_edit div.list div.form input[type="text"]
{
	border: 1px solid #d4d4d4;
	font-family: Tahoma;
	font-size: 11px;
	color: #8f8f8f;
	width: 165px;
}

div.form_reg_edit div.list div.form input.name-provider
{
	width: 70px;
}

div.form_reg_edit div.list div.form input.e-mail
{
	width: 95px;
}

div.form_reg_edit div.list div.accession
{
	float: left;
	width: 90px;
    font-size: 10px;
}

#gallery .summary
{
    text-align: left;
}

#gallery .items img
{
    width: 100%;
    padding-top: 20px;
}

#gallery .pager
{
    float: left;
    margin: 30px 0 10px;
}

#add-image-form
{
    float: left;
    margin-top: 15px;
}

.captcha-refresh-link
{
    display: block;
    padding-bottom: 10px;
}

.blog-body {
    margin-left: 80px;
}

.blog-icon {
    float: left;
}

.stat {
    font-style: italic;
    font-size: 12px;
    color: #696969;
}